body {
  background: #333333; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
 }
.canvas {
  width: 180px; 
  height: 180px;
 }
.pixel {
  width: 30px;
  height:30px;
  float: left;  
}
.pixelfon {
  width: 5px;
  height:5px;
  float: left;  
}
.pixel:nth-child(1) { 
  background: #B22222; 
} 
.pixelfon:nth-child(1) { 
  background: rgb(178,34,34); 
} 
.pixel:nth-child(3) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(3) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(4) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(4) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(5) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(5) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(4) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(4) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(6) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(6) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(5) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(5) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(6) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(6) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(7) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(7) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(8) { 
  background: #ADFF2F; 
} 
.pixelfon:nth-child(8) { 
  background: rgb(173,255,47); 
} 
.pixel:nth-child(6) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(6) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(8) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(8) { 
  background: rgb(157,118,230); 
} 
.pixel:nth-child(7) { 
  background: #DCDCDC; 
} 
.pixelfon:nth-child(7) { 
  background: rgb(220,220,220); 
} 
.pixel:nth-child(8) { 
  background: #FFE4C4; 
} 
.pixelfon:nth-child(8) { 
  background: rgb(255,228,196); 
} 
.pixel:nth-child(9) { 
  background: #9D76E6; 
} 
.pixelfon:nth-child(9) { 
  background: rgb(157,118,230); 
} 
