body {
  /*background: #CCCCCC; */
  background: #333333; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
 }
.canvas {
  width: 180px; 
  height: 180px;
 }
.pixel {
  width: 30px;
  height:30px;
  float: left;  
  box-shadow: 0px 0px 1px #fff;
}

.pixelfon {
  width: 180px;
  height:180px;
  float: left;  
}
.pixelfon:nth-child(1) { 
  background: #CCCCCC; 
} 
.pixel:nth-child(8) { 
  background: #628919; 
} 
.pixel:nth-child(9) { 
  background: #628919; 
} 
.pixel:nth-child(10) { 
  background: #628919; 
} 
.pixel:nth-child(14) { 
  background: #628919; 
} 
.pixel:nth-child(16) { 
  background: #628919; 
} 
.pixel:nth-child(20) { 
  background: #628919; 
} 
.pixel:nth-child(21) { 
  background: #628919; 
} 
.pixel:nth-child(22) { 
  background: #628919; 
} 
.pixel:nth-child(23) { 
  background: #5200D0; 
} 
.pixel:nth-child(26) { 
  background: #628919; 
} 
.pixel:nth-child(28) { 
  background: #628919; 
} 
.pixel:nth-child(32) { 
  background: #628919; 
} 
.pixel:nth-child(34) { 
  background: #628919; 
} 
.pixel:nth-child(1) { 
  background: #4DDDDD; 
} 
.pixel:nth-child(32) { 
  background: #232323; 
} 
.pixel:nth-child(33) { 
  background: #001B3B; 
} 
