body {
  background: #333333; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
 }
.canvas {
  width: 540px; 
  height: 780px;
 }
.pixel {
  width: 20px;
  height:20px;
  float: left;  
  box-shadow: 0px 0px 1px #fff;
}
.pixel:nth-child(34) { 
  background: #202020; 
} 
.pixel:nth-child(35) { 
  background: #202020; 
} 
.pixel:nth-child(47) { 
  background: #202020; 
} 
.pixel:nth-child(48) { 
  background: #202020; 
} 
.pixel:nth-child(61) { 
  background: #202020; 
} 
.pixel:nth-child(62) { 
  background: #202020; 
} 
.pixel:nth-child(74) { 
  background: #202020; 
} 
.pixel:nth-child(75) { 
  background: #202020; 
} 
.pixel:nth-child(88) { 
  background: #202020; 
} 
.pixel:nth-child(89) { 
  background: #202020; 
} 
.pixel:nth-child(91) { 
  background: #202020; 
} 
.pixel:nth-child(92) { 
  background: #202020; 
} 
.pixel:nth-child(93) { 
  background: #202020; 
} 
.pixel:nth-child(94) { 
  background: #202020; 
} 
.pixel:nth-child(95) { 
  background: #202020; 
} 
.pixel:nth-child(96) { 
  background: #202020; 
} 
.pixel:nth-child(97) { 
  background: #202020; 
} 
.pixel:nth-child(98) { 
  background: #202020; 
} 
.pixel:nth-child(99) { 
  background: #202020; 
} 
.pixel:nth-child(101) { 
  background: #202020; 
} 
.pixel:nth-child(102) { 
  background: #202020; 
} 
.pixel:nth-child(115) { 
  background: #202020; 
} 
.pixel:nth-child(116) { 
  background: #202020; 
} 
.pixel:nth-child(117) { 
  background: #202020; 
} 
.pixel:nth-child(118) { 
  background: #323232; 
} 
.pixel:nth-child(119) { 
  background: #323232; 
} 
.pixel:nth-child(120) { 
  background: #323232; 
} 
.pixel:nth-child(121) { 
  background: #333333; 
} 
.pixel:nth-child(122) { 
  background: #333333; 
} 
.pixel:nth-child(123) { 
  background: #333333; 
} 
.pixel:nth-child(124) { 
  background: #343434; 
} 
.pixel:nth-child(125) { 
  background: #343434; 
} 
.pixel:nth-child(126) { 
  background: #343434; 
} 
.pixel:nth-child(127) { 
  background: #202020; 
} 
.pixel:nth-child(128) { 
  background: #202020; 
} 
.pixel:nth-child(129) { 
  background: #202020; 
} 
.pixel:nth-child(142) { 
  background: #202020; 
} 
.pixel:nth-child(143) { 
  background: #323232; 
} 
.pixel:nth-child(144) { 
  background: #323232; 
} 
.pixel:nth-child(145) { 
  background: #323232; 
} 
.pixel:nth-child(146) { 
  background: #333333; 
} 
.pixel:nth-child(147) { 
  background: #333333; 
} 
.pixel:nth-child(148) { 
  background: #333333; 
} 
.pixel:nth-child(149) { 
  background: #343434; 
} 
.pixel:nth-child(150) { 
  background: #343434; 
} 
.pixel:nth-child(151) { 
  background: #343434; 
} 
.pixel:nth-child(152) { 
  background: #353535; 
} 
.pixel:nth-child(153) { 
  background: #353535; 
} 
.pixel:nth-child(154) { 
  background: #353535; 
} 
.pixel:nth-child(155) { 
  background: #363636; 
} 
.pixel:nth-child(156) { 
  background: #202020; 
} 
.pixel:nth-child(169) { 
  background: #212121; 
} 
.pixel:nth-child(170) { 
  background: #323232; 
} 
.pixel:nth-child(171) { 
  background: #323232; 
} 
.pixel:nth-child(172) { 
  background: #333333; 
} 
.pixel:nth-child(173) { 
  background: #323232; 
} 
.pixel:nth-child(174) { 
  background: #323232; 
} 
.pixel:nth-child(175) { 
  background: #323232; 
} 
.pixel:nth-child(176) { 
  background: #323232; 
} 
.pixel:nth-child(177) { 
  background: #323232; 
} 
.pixel:nth-child(178) { 
  background: #323232; 
} 
.pixel:nth-child(179) { 
  background: #323232; 
} 
.pixel:nth-child(180) { 
  background: #323232; 
} 
.pixel:nth-child(181) { 
  background: #323232; 
} 
.pixel:nth-child(182) { 
  background: #323232; 
} 
.pixel:nth-child(183) { 
  background: #212121; 
} 
.pixel:nth-child(196) { 
  background: #212121; 
} 
.pixel:nth-child(197) { 
  background: #323232; 
} 
.pixel:nth-child(198) { 
  background: #333333; 
} 
.pixel:nth-child(199) { 
  background: #343434; 
} 
.pixel:nth-child(200) { 
  background: #333333; 
} 
.pixel:nth-child(201) { 
  background: #343434; 
} 
.pixel:nth-child(202) { 
  background: #343434; 
} 
.pixel:nth-child(203) { 
  background: #343434; 
} 
.pixel:nth-child(204) { 
  background: #353535; 
} 
.pixel:nth-child(205) { 
  background: #353535; 
} 
.pixel:nth-child(206) { 
  background: #353535; 
} 
.pixel:nth-child(207) { 
  background: #363636; 
} 
.pixel:nth-child(208) { 
  background: #363636; 
} 
.pixel:nth-child(209) { 
  background: #363636; 
} 
.pixel:nth-child(210) { 
  background: #212121; 
} 
.pixel:nth-child(223) { 
  background: #212121; 
} 
.pixel:nth-child(224) { 
  background: #333333; 
} 
.pixel:nth-child(225) { 
  background: #333333; 
} 
.pixel:nth-child(226) { 
  background: #343434; 
} 
.pixel:nth-child(227) { 
  background: #333333; 
} 
.pixel:nth-child(228) { 
  background: #333333; 
} 
.pixel:nth-child(229) { 
  background: #333333; 
} 
.pixel:nth-child(230) { 
  background: #333333; 
} 
.pixel:nth-child(231) { 
  background: #333333; 
} 
.pixel:nth-child(232) { 
  background: #333333; 
} 
.pixel:nth-child(233) { 
  background: #333333; 
} 
.pixel:nth-child(234) { 
  background: #333333; 
} 
.pixel:nth-child(235) { 
  background: #333333; 
} 
.pixel:nth-child(236) { 
  background: #333333; 
} 
.pixel:nth-child(237) { 
  background: #212121; 
} 
.pixel:nth-child(250) { 
  background: #222222; 
} 
.pixel:nth-child(251) { 
  background: #333333; 
} 
.pixel:nth-child(252) { 
  background: #333333; 
} 
.pixel:nth-child(253) { 
  background: #353535; 
} 
.pixel:nth-child(255) { 
  background: #333333; 
} 
.pixel:nth-child(256) { 
  background: #333333; 
} 
.pixel:nth-child(257) { 
  background: #333333; 
} 
.pixel:nth-child(258) { 
  background: #333333; 
} 
.pixel:nth-child(259) { 
  background: #333333; 
} 
.pixel:nth-child(260) { 
  background: #333333; 
} 
.pixel:nth-child(261) { 
  background: #333333; 
} 
.pixel:nth-child(263) { 
  background: #333333; 
} 
.pixel:nth-child(264) { 
  background: #222222; 
} 
.pixel:nth-child(277) { 
  background: #222222; 
} 
.pixel:nth-child(278) { 
  background: #333333; 
} 
.pixel:nth-child(279) { 
  background: #333333; 
} 
.pixel:nth-child(280) { 
  background: #363636; 
} 
.pixel:nth-child(284) { 
  background: #333333; 
} 
.pixel:nth-child(285) { 
  background: #333333; 
} 
.pixel:nth-child(286) { 
  background: #333333; 
} 
.pixel:nth-child(290) { 
  background: #333333; 
} 
.pixel:nth-child(291) { 
  background: #222222; 
} 
.pixel:nth-child(304) { 
  background: #222222; 
} 
.pixel:nth-child(305) { 
  background: #343434; 
} 
.pixel:nth-child(306) { 
  background: #343434; 
} 
.pixel:nth-child(307) { 
  background: #363636; 
} 
.pixel:nth-child(311) { 
  background: #363636; 
} 
.pixel:nth-child(312) { 
  background: #363636; 
} 
.pixel:nth-child(313) { 
  background: #363636; 
} 
.pixel:nth-child(317) { 
  background: #363636; 
} 
.pixel:nth-child(318) { 
  background: #222222; 
} 
.pixel:nth-child(331) { 
  background: #232323; 
} 
.pixel:nth-child(332) { 
  background: #343434; 
} 
.pixel:nth-child(333) { 
  background: #343434; 
} 
.pixel:nth-child(334) { 
  background: #373737; 
} 
.pixel:nth-child(335) { 
  background: #373737; 
} 
.pixel:nth-child(336) { 
  background: #373737; 
} 
.pixel:nth-child(337) { 
  background: #373737; 
} 
.pixel:nth-child(338) { 
  background: #373737; 
} 
.pixel:nth-child(339) { 
  background: #373737; 
} 
.pixel:nth-child(340) { 
  background: #373737; 
} 
.pixel:nth-child(341) { 
  background: #373737; 
} 
.pixel:nth-child(342) { 
  background: #373737; 
} 
.pixel:nth-child(343) { 
  background: #373737; 
} 
.pixel:nth-child(344) { 
  background: #373737; 
} 
.pixel:nth-child(345) { 
  background: #232323; 
} 
.pixel:nth-child(358) { 
  background: #232323; 
} 
.pixel:nth-child(359) { 
  background: #343434; 
} 
.pixel:nth-child(360) { 
  background: #343434; 
} 
.pixel:nth-child(361) { 
  background: #232323; 
} 
.pixel:nth-child(362) { 
  background: #232323; 
} 
.pixel:nth-child(363) { 
  background: #242424; 
} 
.pixel:nth-child(364) { 
  background: #242424; 
} 
.pixel:nth-child(365) { 
  background: #242424; 
} 
.pixel:nth-child(366) { 
  background: #252525; 
} 
.pixel:nth-child(367) { 
  background: #252525; 
} 
.pixel:nth-child(368) { 
  background: #252525; 
} 
.pixel:nth-child(369) { 
  background: #262626; 
} 
.pixel:nth-child(370) { 
  background: #232323; 
} 
.pixel:nth-child(371) { 
  background: #383838; 
} 
.pixel:nth-child(372) { 
  background: #232323; 
} 
.pixel:nth-child(386) { 
  background: #232323; 
} 
.pixel:nth-child(387) { 
  background: #373737; 
} 
.pixel:nth-child(388) { 
  background: #232323; 
} 
.pixel:nth-child(396) { 
  background: #232323; 
} 
.pixel:nth-child(397) { 
  background: #373737; 
} 
.pixel:nth-child(398) { 
  background: #232323; 
} 
.pixel:nth-child(413) { 
  background: #232323; 
} 
.pixel:nth-child(414) { 
  background: #373737; 
} 
.pixel:nth-child(415) { 
  background: #232323; 
} 
.pixel:nth-child(423) { 
  background: #232323; 
} 
.pixel:nth-child(424) { 
  background: #373737; 
} 
.pixel:nth-child(425) { 
  background: #232323; 
} 
.pixel:nth-child(438) { 
  background: #252525; 
} 
.pixel:nth-child(439) { 
  background: #252525; 
} 
.pixel:nth-child(441) { 
  background: #232323; 
} 
.pixel:nth-child(442) { 
  background: #232323; 
} 
.pixel:nth-child(450) { 
  background: #232323; 
} 
.pixel:nth-child(451) { 
  background: #232323; 
} 
.pixel:nth-child(453) { 
  background: #252525; 
} 
.pixel:nth-child(454) { 
  background: #252525; 
} 
.pixel:nth-child(464) { 
  background: #252525; 
} 
.pixel:nth-child(467) { 
  background: #252525; 
} 
.pixel:nth-child(469) { 
  background: #232323; 
} 
.pixel:nth-child(470) { 
  background: #232323; 
} 
.pixel:nth-child(476) { 
  background: #232323; 
} 
.pixel:nth-child(477) { 
  background: #232323; 
} 
.pixel:nth-child(479) { 
  background: #252525; 
} 
.pixel:nth-child(482) { 
  background: #252525; 
} 
.pixel:nth-child(490) { 
  background: #252525; 
} 
.pixel:nth-child(493) { 
  background: #252525; 
} 
.pixel:nth-child(498) { 
  background: #232323; 
} 
.pixel:nth-child(499) { 
  background: #232323; 
} 
.pixel:nth-child(500) { 
  background: #242424; 
} 
.pixel:nth-child(501) { 
  background: #242424; 
} 
.pixel:nth-child(502) { 
  background: #242424; 
} 
.pixel:nth-child(507) { 
  background: #252525; 
} 
.pixel:nth-child(510) { 
  background: #252525; 
} 
.pixel:nth-child(516) { 
  background: #252525; 
} 
.pixel:nth-child(519) { 
  background: #252525; 
} 
.pixel:nth-child(524) { 
  background: #272727; 
} 
.pixel:nth-child(530) { 
  background: #282828; 
} 
.pixel:nth-child(535) { 
  background: #252525; 
} 
.pixel:nth-child(538) { 
  background: #252525; 
} 
.pixel:nth-child(542) { 
  background: #252525; 
} 
.pixel:nth-child(545) { 
  background: #252525; 
} 
.pixel:nth-child(550) { 
  background: #272727; 
} 
.pixel:nth-child(551) { 
  background: #282828; 
} 
.pixel:nth-child(553) { 
  background: #282828; 
} 
.pixel:nth-child(555) { 
  background: #282828; 
} 
.pixel:nth-child(557) { 
  background: #282828; 
} 
.pixel:nth-child(558) { 
  background: #282828; 
} 
.pixel:nth-child(563) { 
  background: #252525; 
} 
.pixel:nth-child(566) { 
  background: #252525; 
} 
.pixel:nth-child(569) { 
  background: #252525; 
} 
.pixel:nth-child(571) { 
  background: #252525; 
} 
.pixel:nth-child(575) { 
  background: #242424; 
} 
.pixel:nth-child(577) { 
  background: #272727; 
} 
.pixel:nth-child(578) { 
  background: #282828; 
} 
.pixel:nth-child(579) { 
  background: #282828; 
} 
.pixel:nth-child(580) { 
  background: #282828; 
} 
.pixel:nth-child(581) { 
  background: #292929; 
} 
.pixel:nth-child(582) { 
  background: #292929; 
} 
.pixel:nth-child(583) { 
  background: #282828; 
} 
.pixel:nth-child(584) { 
  background: #282828; 
} 
.pixel:nth-child(585) { 
  background: #282828; 
} 
.pixel:nth-child(587) { 
  background: #282828; 
} 
.pixel:nth-child(591) { 
  background: #252525; 
} 
.pixel:nth-child(593) { 
  background: #252525; 
} 
.pixel:nth-child(596) { 
  background: #262626; 
} 
.pixel:nth-child(598) { 
  background: #252525; 
} 
.pixel:nth-child(602) { 
  background: #252525; 
} 
.pixel:nth-child(604) { 
  background: #272727; 
} 
.pixel:nth-child(605) { 
  background: #282828; 
} 
.pixel:nth-child(608) { 
  background: #282828; 
} 
.pixel:nth-child(611) { 
  background: #282828; 
} 
.pixel:nth-child(612) { 
  background: #282828; 
} 
.pixel:nth-child(614) { 
  background: #282828; 
} 
.pixel:nth-child(618) { 
  background: #252525; 
} 
.pixel:nth-child(620) { 
  background: #262626; 
} 
.pixel:nth-child(623) { 
  background: #262626; 
} 
.pixel:nth-child(625) { 
  background: #252525; 
} 
.pixel:nth-child(626) { 
  background: #252525; 
} 
.pixel:nth-child(627) { 
  background: #252525; 
} 
.pixel:nth-child(628) { 
  background: #252525; 
} 
.pixel:nth-child(629) { 
  background: #252525; 
} 
.pixel:nth-child(632) { 
  background: #272727; 
} 
.pixel:nth-child(638) { 
  background: #282828; 
} 
.pixel:nth-child(641) { 
  background: #292929; 
} 
.pixel:nth-child(642) { 
  background: #252525; 
} 
.pixel:nth-child(643) { 
  background: #252525; 
} 
.pixel:nth-child(644) { 
  background: #252525; 
} 
.pixel:nth-child(645) { 
  background: #252525; 
} 
.pixel:nth-child(647) { 
  background: #262626; 
} 
.pixel:nth-child(650) { 
  background: #262626; 
} 
.pixel:nth-child(652) { 
  background: #252525; 
} 
.pixel:nth-child(656) { 
  background: #252525; 
} 
.pixel:nth-child(668) { 
  background: #292929; 
} 
.pixel:nth-child(672) { 
  background: #252525; 
} 
.pixel:nth-child(674) { 
  background: #262626; 
} 
.pixel:nth-child(677) { 
  background: #272727; 
} 
.pixel:nth-child(679) { 
  background: #252525; 
} 
.pixel:nth-child(683) { 
  background: #262626; 
} 
.pixel:nth-child(684) { 
  background: #272727; 
} 
.pixel:nth-child(685) { 
  background: #272727; 
} 
.pixel:nth-child(686) { 
  background: #272727; 
} 
.pixel:nth-child(687) { 
  background: #282828; 
} 
.pixel:nth-child(688) { 
  background: #282828; 
} 
.pixel:nth-child(689) { 
  background: #282828; 
} 
.pixel:nth-child(690) { 
  background: #292929; 
} 
.pixel:nth-child(691) { 
  background: #292929; 
} 
.pixel:nth-child(692) { 
  background: #292929; 
} 
.pixel:nth-child(693) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(694) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(695) { 
  background: #292929; 
} 
.pixel:nth-child(699) { 
  background: #252525; 
} 
.pixel:nth-child(701) { 
  background: #272727; 
} 
.pixel:nth-child(704) { 
  background: #272727; 
} 
.pixel:nth-child(706) { 
  background: #252525; 
} 
.pixel:nth-child(710) { 
  background: #262626; 
} 
.pixel:nth-child(714) { 
  background: #282828; 
} 
.pixel:nth-child(718) { 
  background: #282828; 
} 
.pixel:nth-child(722) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(726) { 
  background: #252525; 
} 
.pixel:nth-child(728) { 
  background: #272727; 
} 
.pixel:nth-child(731) { 
  background: #272727; 
} 
.pixel:nth-child(733) { 
  background: #252525; 
} 
.pixel:nth-child(737) { 
  background: #262626; 
} 
.pixel:nth-child(741) { 
  background: #282828; 
} 
.pixel:nth-child(745) { 
  background: #282828; 
} 
.pixel:nth-child(749) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(753) { 
  background: #252525; 
} 
.pixel:nth-child(755) { 
  background: #272727; 
} 
.pixel:nth-child(758) { 
  background: #282828; 
} 
.pixel:nth-child(761) { 
  background: #252525; 
} 
.pixel:nth-child(764) { 
  background: #272727; 
} 
.pixel:nth-child(765) { 
  background: #272727; 
} 
.pixel:nth-child(766) { 
  background: #272727; 
} 
.pixel:nth-child(767) { 
  background: #272727; 
} 
.pixel:nth-child(768) { 
  background: #282828; 
} 
.pixel:nth-child(769) { 
  background: #282828; 
} 
.pixel:nth-child(770) { 
  background: #282828; 
} 
.pixel:nth-child(771) { 
  background: #292929; 
} 
.pixel:nth-child(772) { 
  background: #292929; 
} 
.pixel:nth-child(773) { 
  background: #292929; 
} 
.pixel:nth-child(774) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(775) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(776) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(779) { 
  background: #252525; 
} 
.pixel:nth-child(782) { 
  background: #282828; 
} 
.pixel:nth-child(785) { 
  background: #282828; 
} 
.pixel:nth-child(789) { 
  background: #252525; 
} 
.pixel:nth-child(790) { 
  background: #252525; 
} 
.pixel:nth-child(791) { 
  background: #272727; 
} 
.pixel:nth-child(793) { 
  background: #272727; 
} 
.pixel:nth-child(801) { 
  background: #272727; 
} 
.pixel:nth-child(803) { 
  background: #2B2B2B; 
} 
.pixel:nth-child(804) { 
  background: #252525; 
} 
.pixel:nth-child(805) { 
  background: #252525; 
} 
.pixel:nth-child(809) { 
  background: #282828; 
} 
.pixel:nth-child(812) { 
  background: #282828; 
} 
.pixel:nth-child(818) { 
  background: #272727; 
} 
.pixel:nth-child(821) { 
  background: #272727; 
} 
.pixel:nth-child(827) { 
  background: #272727; 
} 
.pixel:nth-child(830) { 
  background: #2B2B2B; 
} 
.pixel:nth-child(836) { 
  background: #282828; 
} 
.pixel:nth-child(839) { 
  background: #292929; 
} 
.pixel:nth-child(845) { 
  background: #282828; 
} 
.pixel:nth-child(849) { 
  background: #272727; 
} 
.pixel:nth-child(853) { 
  background: #272727; 
} 
.pixel:nth-child(857) { 
  background: #2B2B2B; 
} 
.pixel:nth-child(863) { 
  background: #292929; 
} 
.pixel:nth-child(866) { 
  background: #292929; 
} 
.pixel:nth-child(872) { 
  background: #282828; 
} 
.pixel:nth-child(877) { 
  background: #272727; 
} 
.pixel:nth-child(878) { 
  background: #272727; 
} 
.pixel:nth-child(879) { 
  background: #272727; 
} 
.pixel:nth-child(884) { 
  background: #2C2C2C; 
} 
.pixel:nth-child(890) { 
  background: #292929; 
} 
.pixel:nth-child(893) { 
  background: #292929; 
} 
.pixel:nth-child(899) { 
  background: #242424; 
} 
.pixel:nth-child(900) { 
  background: #252525; 
} 
.pixel:nth-child(901) { 
  background: #252525; 
} 
.pixel:nth-child(902) { 
  background: #252525; 
} 
.pixel:nth-child(903) { 
  background: #262626; 
} 
.pixel:nth-child(904) { 
  background: #262626; 
} 
.pixel:nth-child(906) { 
  background: #262626; 
} 
.pixel:nth-child(907) { 
  background: #272727; 
} 
.pixel:nth-child(908) { 
  background: #272727; 
} 
.pixel:nth-child(909) { 
  background: #272727; 
} 
.pixel:nth-child(910) { 
  background: #282828; 
} 
.pixel:nth-child(911) { 
  background: #2C2C2C; 
} 
.pixel:nth-child(913) { 
  background: #282828; 
} 
.pixel:nth-child(917) { 
  background: #292929; 
} 
.pixel:nth-child(920) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(925) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(926) { 
  background: #242424; 
} 
.pixel:nth-child(927) { 
  background: #333333; 
} 
.pixel:nth-child(928) { 
  background: #343434; 
} 
.pixel:nth-child(929) { 
  background: #343434; 
} 
.pixel:nth-child(930) { 
  background: #343434; 
} 
.pixel:nth-child(931) { 
  background: #262626; 
} 
.pixel:nth-child(933) { 
  background: #272727; 
} 
.pixel:nth-child(934) { 
  background: #333333; 
} 
.pixel:nth-child(935) { 
  background: #343434; 
} 
.pixel:nth-child(936) { 
  background: #343434; 
} 
.pixel:nth-child(937) { 
  background: #343434; 
} 
.pixel:nth-child(938) { 
  background: #282828; 
} 
.pixel:nth-child(939) { 
  background: #282828; 
} 
.pixel:nth-child(941) { 
  background: #282828; 
} 
.pixel:nth-child(942) { 
  background: #282828; 
} 
.pixel:nth-child(944) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(947) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(950) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(951) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(953) { 
  background: #242424; 
} 
.pixel:nth-child(954) { 
  background: #333333; 
} 
.pixel:nth-child(955) { 
  background: #343434; 
} 
.pixel:nth-child(956) { 
  background: #343434; 
} 
.pixel:nth-child(957) { 
  background: #343434; 
} 
.pixel:nth-child(958) { 
  background: #262626; 
} 
.pixel:nth-child(960) { 
  background: #272727; 
} 
.pixel:nth-child(961) { 
  background: #333333; 
} 
.pixel:nth-child(962) { 
  background: #343434; 
} 
.pixel:nth-child(963) { 
  background: #343434; 
} 
.pixel:nth-child(964) { 
  background: #343434; 
} 
.pixel:nth-child(965) { 
  background: #282828; 
} 
.pixel:nth-child(970) { 
  background: #282828; 
} 
.pixel:nth-child(971) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(975) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(976) { 
  background: #2A2A2A; 
} 
.pixel:nth-child(979) { 
  background: #242424; 
} 
.pixel:nth-child(980) { 
  background: #333333; 
} 
.pixel:nth-child(981) { 
  background: #333333; 
} 
.pixel:nth-child(982) { 
  background: #343434; 
} 
.pixel:nth-child(983) { 
  background: #343434; 
} 
.pixel:nth-child(984) { 
  background: #343434; 
} 
.pixel:nth-child(985) { 
  background: #262626; 
} 
.pixel:nth-child(987) { 
  background: #272727; 
} 
.pixel:nth-child(988) { 
  background: #333333; 
} 
.pixel:nth-child(989) { 
  background: #333333; 
} 
.pixel:nth-child(990) { 
  background: #343434; 
} 
.pixel:nth-child(991) { 
  background: #343434; 
} 
.pixel:nth-child(992) { 
  background: #343434; 
} 
.pixel:nth-child(993) { 
  background: #282828; 
} 
.pixel:nth-child(1006) { 
  background: #242424; 
} 
.pixel:nth-child(1007) { 
  background: #252525; 
} 
.pixel:nth-child(1008) { 
  background: #252525; 
} 
.pixel:nth-child(1009) { 
  background: #252525; 
} 
.pixel:nth-child(1010) { 
  background: #262626; 
} 
.pixel:nth-child(1011) { 
  background: #262626; 
} 
.pixel:nth-child(1012) { 
  background: #262626; 
} 
.pixel:nth-child(1014) { 
  background: #282828; 
} 
.pixel:nth-child(1015) { 
  background: #272727; 
} 
.pixel:nth-child(1016) { 
  background: #272727; 
} 
.pixel:nth-child(1017) { 
  background: #272727; 
} 
.pixel:nth-child(1018) { 
  background: #282828; 
} 
.pixel:nth-child(1019) { 
  background: #282828; 
} 
.pixel:nth-child(1020) { 
  background: #282828; 
} 
.pixel:nth-child(468) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(478) { 
  background: #727272; 
} 
.pixel:nth-child(494) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(495) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(496) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(497) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(503) { 
  background: #717171; 
} 
.pixel:nth-child(504) { 
  background: #717171; 
} 
.pixel:nth-child(505) { 
  background: #727272; 
} 
.pixel:nth-child(506) { 
  background: #727272; 
} 
.pixel:nth-child(520) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(521) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(522) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(523) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(525) { 
  background: #707070; 
} 
.pixel:nth-child(526) { 
  background: #707070; 
} 
.pixel:nth-child(527) { 
  background: #707070; 
} 
.pixel:nth-child(528) { 
  background: #717171; 
} 
.pixel:nth-child(529) { 
  background: #717171; 
} 
.pixel:nth-child(531) { 
  background: #727272; 
} 
.pixel:nth-child(532) { 
  background: #727272; 
} 
.pixel:nth-child(533) { 
  background: #727272; 
} 
.pixel:nth-child(534) { 
  background: #727272; 
} 
.pixel:nth-child(546) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(547) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(548) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(549) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(552) { 
  background: #727272; 
} 
.pixel:nth-child(554) { 
  background: #727272; 
} 
.pixel:nth-child(556) { 
  background: #727272; 
} 
.pixel:nth-child(559) { 
  background: #727272; 
} 
.pixel:nth-child(560) { 
  background: #727272; 
} 
.pixel:nth-child(561) { 
  background: #737373; 
} 
.pixel:nth-child(562) { 
  background: #737373; 
} 
.pixel:nth-child(572) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(573) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(574) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(576) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(586) { 
  background: #727272; 
} 
.pixel:nth-child(588) { 
  background: #737373; 
} 
.pixel:nth-child(589) { 
  background: #737373; 
} 
.pixel:nth-child(590) { 
  background: #737373; 
} 
.pixel:nth-child(599) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(600) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(601) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(603) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(606) { 
  background: #707070; 
} 
.pixel:nth-child(607) { 
  background: #707070; 
} 
.pixel:nth-child(609) { 
  background: #707070; 
} 
.pixel:nth-child(610) { 
  background: #707070; 
} 
.pixel:nth-child(613) { 
  background: #737373; 
} 
.pixel:nth-child(615) { 
  background: #737373; 
} 
.pixel:nth-child(616) { 
  background: #737373; 
} 
.pixel:nth-child(617) { 
  background: #737373; 
} 
.pixel:nth-child(630) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(631) { 
  background: #707070; 
} 
.pixel:nth-child(633) { 
  background: #707070; 
} 
.pixel:nth-child(634) { 
  background: #707070; 
} 
.pixel:nth-child(635) { 
  background: #707070; 
} 
.pixel:nth-child(636) { 
  background: #707070; 
} 
.pixel:nth-child(637) { 
  background: #707070; 
} 
.pixel:nth-child(639) { 
  background: #707070; 
} 
.pixel:nth-child(640) { 
  background: #707070; 
} 
.pixel:nth-child(653) { 
  background: #353535; 
} 
.pixel:nth-child(654) { 
  background: #353535; 
} 
.pixel:nth-child(655) { 
  background: #353535; 
} 
.pixel:nth-child(657) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(658) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(659) { 
  background: #707070; 
} 
.pixel:nth-child(660) { 
  background: #707070; 
} 
.pixel:nth-child(661) { 
  background: #707070; 
} 
.pixel:nth-child(662) { 
  background: #717171; 
} 
.pixel:nth-child(663) { 
  background: #717171; 
} 
.pixel:nth-child(664) { 
  background: #717171; 
} 
.pixel:nth-child(665) { 
  background: #727272; 
} 
.pixel:nth-child(666) { 
  background: #727272; 
} 
.pixel:nth-child(667) { 
  background: #727272; 
} 
.pixel:nth-child(669) { 
  background: #353535; 
} 
.pixel:nth-child(670) { 
  background: #353535; 
} 
.pixel:nth-child(671) { 
  background: #353535; 
} 
.pixel:nth-child(680) { 
  background: #353535; 
} 
.pixel:nth-child(681) { 
  background: #353535; 
} 
.pixel:nth-child(682) { 
  background: #353535; 
} 
.pixel:nth-child(696) { 
  background: #353535; 
} 
.pixel:nth-child(697) { 
  background: #353535; 
} 
.pixel:nth-child(698) { 
  background: #353535; 
} 
.pixel:nth-child(707) { 
  background: #353535; 
} 
.pixel:nth-child(708) { 
  background: #353535; 
} 
.pixel:nth-child(709) { 
  background: #353535; 
} 
.pixel:nth-child(711) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(712) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(713) { 
  background: #9F9F9F; 
} 
.pixel:nth-child(715) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(716) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(717) { 
  background: #9F9F9F; 
} 
.pixel:nth-child(719) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(720) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(721) { 
  background: #9F9F9F; 
} 
.pixel:nth-child(723) { 
  background: #353535; 
} 
.pixel:nth-child(724) { 
  background: #353535; 
} 
.pixel:nth-child(725) { 
  background: #353535; 
} 
.pixel:nth-child(734) { 
  background: #363636; 
} 
.pixel:nth-child(735) { 
  background: #363636; 
} 
.pixel:nth-child(736) { 
  background: #363636; 
} 
.pixel:nth-child(738) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(739) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(740) { 
  background: #9F9F9F; 
} 
.pixel:nth-child(742) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(743) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(744) { 
  background: #9F9F9F; 
} 
.pixel:nth-child(746) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(747) { 
  background: #9E9E9E; 
} 
.pixel:nth-child(748) { 
  background: #9F9F9F; 
} 
.pixel:nth-child(750) { 
  background: #363636; 
} 
.pixel:nth-child(751) { 
  background: #363636; 
} 
.pixel:nth-child(752) { 
  background: #363636; 
} 
.pixel:nth-child(762) { 
  background: #363636; 
} 
.pixel:nth-child(763) { 
  background: #363636; 
} 
.pixel:nth-child(777) { 
  background: #363636; 
} 
.pixel:nth-child(778) { 
  background: #363636; 
} 
.pixel:nth-child(792) { 
  background: #6D6D6D; 
} 
.pixel:nth-child(794) { 
  background: #343434; 
} 
.pixel:nth-child(795) { 
  background: #343434; 
} 
.pixel:nth-child(796) { 
  background: #353535; 
} 
.pixel:nth-child(797) { 
  background: #353535; 
} 
.pixel:nth-child(798) { 
  background: #353535; 
} 
.pixel:nth-child(799) { 
  background: #363636; 
} 
.pixel:nth-child(800) { 
  background: #363636; 
} 
.pixel:nth-child(802) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(819) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(820) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(822) { 
  background: #353535; 
} 
.pixel:nth-child(823) { 
  background: #353535; 
} 
.pixel:nth-child(824) { 
  background: #353535; 
} 
.pixel:nth-child(825) { 
  background: #353535; 
} 
.pixel:nth-child(826) { 
  background: #353535; 
} 
.pixel:nth-child(828) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(829) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(846) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(847) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(848) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(850) { 
  background: #353535; 
} 
.pixel:nth-child(851) { 
  background: #353535; 
} 
.pixel:nth-child(852) { 
  background: #353535; 
} 
.pixel:nth-child(854) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(855) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(856) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(873) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(874) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(875) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(876) { 
  background: #6E6E6E; 
} 
.pixel:nth-child(880) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(881) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(882) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(883) { 
  background: #6F6F6F; 
} 
.pixel:nth-child(253) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(261) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(280) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(281) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(282) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(286) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(287) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(288) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(307) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(308) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(309) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(313) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(314) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(315) { 
  background: #F8F8F8; 
} 
.pixel:nth-child(389) { 
  background: #B3B3B3; 
} 
.pixel:nth-child(390) { 
  background: #B3B3B3; 
} 
.pixel:nth-child(391) { 
  background: #B4B4B4; 
} 
.pixel:nth-child(392) { 
  background: #B4B4B4; 
} 
.pixel:nth-child(393) { 
  background: #B4B4B4; 
} 
.pixel:nth-child(394) { 
  background: #B5B5B5; 
} 
.pixel:nth-child(395) { 
  background: #B5B5B5; 
} 
.pixel:nth-child(416) { 
  background: #B3B3B3; 
} 
.pixel:nth-child(417) { 
  background: #B3B3B3; 
} 
.pixel:nth-child(418) { 
  background: #232323; 
} 
.pixel:nth-child(419) { 
  background: #232323; 
} 
.pixel:nth-child(420) { 
  background: #232323; 
} 
.pixel:nth-child(421) { 
  background: #B3B3B3; 
} 
.pixel:nth-child(422) { 
  background: #B3B3B3; 
} 
.pixel:nth-child(443) { 
  background: #B3B3B3; 
} 
.pixel:nth-child(444) { 
  background: #B3B3B3; 
} 
.pixel:nth-child(445) { 
  background: #B4B4B4; 
} 
.pixel:nth-child(446) { 
  background: #B4B4B4; 
} 
.pixel:nth-child(447) { 
  background: #B4B4B4; 
} 
.pixel:nth-child(448) { 
  background: #B5B5B5; 
} 
.pixel:nth-child(449) { 
  background: #B5B5B5; 
} 
.pixel:nth-child(471) { 
  background: #B3B3B3; 
} 
.pixel:nth-child(472) { 
  background: #B4B4B4; 
} 
.pixel:nth-child(473) { 
  background: #B4B4B4; 
} 
.pixel:nth-child(474) { 
  background: #B4B4B4; 
} 
.pixel:nth-child(475) { 
  background: #B5B5B5; 
} 
