body {
  background: #333333; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
 }
.canvas {
  width: 220px; 
  height: 280px;
 }
.pixel {
  width: 20px;
  height:20px;
  float: left;  
  box-shadow: 0px 0px 1px #fff;
}
.pixelfon {
  width: 220px;
  height:280px;
  float: left;  
}
.pixelfon:nth-child(1) { 
  background: #CCCCCC; 
} 
.pixel:nth-child(2) { 
  background: #E1BBC8; 
} 
.pixel:nth-child(3) { 
  background: #DBB7C3; 
} 
.pixel:nth-child(4) { 
  background: #DAB6C2; 
} 
.pixel:nth-child(5) { 
  background: #DBB5C2; 
} 
.pixel:nth-child(6) { 
  background: #DDB7C4; 
} 
.pixel:nth-child(7) { 
  background: #DEB8C5; 
} 
.pixel:nth-child(8) { 
  background: #DFB9C6; 
} 
.pixel:nth-child(9) { 
  background: #DAB4C1; 
} 
.pixel:nth-child(10) { 
  background: #DCB6C3; 
} 
.pixel:nth-child(12) { 
  background: #D9BAC0; 
} 
.pixel:nth-child(13) { 
  background: #993A50; 
} 
.pixel:nth-child(14) { 
  background: #9B3A4E; 
} 
.pixel:nth-child(15) { 
  background: #9C394E; 
} 
.pixel:nth-child(16) { 
  background: #9B3A4D; 
} 
.pixel:nth-child(17) { 
  background: #9C394E; 
} 
.pixel:nth-child(18) { 
  background: #9B3A4D; 
} 
.pixel:nth-child(19) { 
  background: #9C394E; 
} 
.pixel:nth-child(20) { 
  background: #9C394D; 
} 
.pixel:nth-child(21) { 
  background: #99384C; 
} 
.pixel:nth-child(22) { 
  background: #DEB5BB; 
} 
.pixel:nth-child(23) { 
  background: #D9BEC3; 
} 
.pixel:nth-child(33) { 
  background: #E0B9BE; 
} 
.pixel:nth-child(34) { 
  background: #D8BDC2; 
} 
.pixel:nth-child(43) { 
  background: #8E4559; 
} 
.pixel:nth-child(44) { 
  background: #E1BABF; 
} 
.pixel:nth-child(45) { 
  background: #D8BEC1; 
} 
.pixel:nth-child(49) { 
  background: #A88E9B; 
} 
.pixel:nth-child(50) { 
  background: #B395A1; 
} 
.pixel:nth-child(51) { 
  background: #B0959E; 
} 
.pixel:nth-child(55) { 
  background: #E0BCBE; 
} 
.pixel:nth-child(56) { 
  background: #DBBEC0; 
} 
.pixel:nth-child(65) { 
  background: #8F4659; 
} 
.pixel:nth-child(66) { 
  background: #DEBABC; 
} 
.pixel:nth-child(67) { 
  background: #DBBEC0; 
} 
.pixel:nth-child(76) { 
  background: #8F4659; 
} 
.pixel:nth-child(77) { 
  background: #E0BCBE; 
} 
.pixel:nth-child(78) { 
  background: #D9BFC0; 
} 
.pixel:nth-child(79) { 
  background: #A23753; 
} 
.pixel:nth-child(82) { 
  background: #94394B; 
} 
.pixel:nth-child(83) { 
  background: #97394B; 
} 
.pixel:nth-child(84) { 
  background: #953E4E; 
} 
.pixel:nth-child(86) { 
  background: #9A3D50; 
} 
.pixel:nth-child(87) { 
  background: #943D4E; 
} 
.pixel:nth-child(88) { 
  background: #E1BABF; 
} 
.pixel:nth-child(89) { 
  background: #DCBEC0; 
} 
.pixel:nth-child(91) { 
  background: #E3B5C2; 
} 
.pixel:nth-child(92) { 
  background: #E1B5C2; 
} 
.pixel:nth-child(93) { 
  background: #E1B7C1; 
} 
.pixel:nth-child(94) { 
  background: #DFB7BF; 
} 
.pixel:nth-child(96) { 
  background: #914046; 
} 
.pixel:nth-child(97) { 
  background: #DDB488; 
} 
.pixel:nth-child(98) { 
  background: #993A4E; 
} 
.pixel:nth-child(99) { 
  background: #E2BBBE; 
} 
.pixel:nth-child(100) { 
  background: #DCBEC0; 
} 
.pixel:nth-child(101) { 
  background: #943B4D; 
} 
.pixel:nth-child(104) { 
  background: #993A50; 
} 
.pixel:nth-child(105) { 
  background: #983B4D; 
} 
.pixel:nth-child(106) { 
  background: #9B3952; 
} 
.pixel:nth-child(107) { 
  background: #993A52; 
} 
.pixel:nth-child(108) { 
  background: #993C4F; 
} 
.pixel:nth-child(110) { 
  background: #E3BCBF; 
} 
.pixel:nth-child(111) { 
  background: #DCBDC2; 
} 
.pixel:nth-child(117) { 
  background: #BA4F25; 
} 
.pixel:nth-child(118) { 
  background: #98424F; 
} 
.pixel:nth-child(120) { 
  background: #993A52; 
} 
.pixel:nth-child(121) { 
  background: #E4BDC0; 
} 
.pixel:nth-child(122) { 
  background: #D8BEC1; 
} 
.pixel:nth-child(123) { 
  background: #9A3A45; 
} 
.pixel:nth-child(126) { 
  background: #A03F53; 
} 
.pixel:nth-child(127) { 
  background: #993B4B; 
} 
.pixel:nth-child(130) { 
  background: #993A52; 
} 
.pixel:nth-child(132) { 
  background: #E2BEC2; 
} 
.pixel:nth-child(133) { 
  background: #D8BDC4; 
} 
.pixel:nth-child(134) { 
  background: #9D334A; 
} 
.pixel:nth-child(135) { 
  background: #9C394D; 
} 
.pixel:nth-child(137) { 
  background: #9E3A54; 
} 
.pixel:nth-child(138) { 
  background: #9B374F; 
} 
.pixel:nth-child(139) { 
  background: #9C3850; 
} 
.pixel:nth-child(142) { 
  background: #9A374C; 
} 
.pixel:nth-child(143) { 
  background: #DAB6BA; 
} 
.pixel:nth-child(145) { 
  background: #D9BEC7; 
} 
.pixel:nth-child(146) { 
  background: #D7BCC5; 
} 
.pixel:nth-child(147) { 
  background: #D7BCC5; 
} 
.pixel:nth-child(148) { 
  background: #D5BAC3; 
} 
.pixel:nth-child(149) { 
  background: #DABCC6; 
} 
.pixel:nth-child(150) { 
  background: #D8BAC4; 
} 
.pixel:nth-child(151) { 
  background: #D9BAC2; 
} 
.pixel:nth-child(152) { 
  background: #D8BAC4; 
} 
.pixel:nth-child(153) { 
  background: #D8BAC4; 
} 
.pixel:nth-child(129) { 
  background: #49D4BD; 
} 
.pixel:nth-child(1) { 
  background: #894470; 
} 
.pixel:nth-child(11) { 
  background: #884A71; 
} 
.pixel:nth-child(24) { 
  background: #973450; 
} 
.pixel:nth-child(25) { 
  background: #251321; 
} 
.pixel:nth-child(26) { 
  background: #251321; 
} 
.pixel:nth-child(27) { 
  background: #33FF00; 
} 
.pixel:nth-child(28) { 
  background: #271221; 
} 
.pixel:nth-child(29) { 
  background: #271221; 
} 
.pixel:nth-child(30) { 
  background: #271221; 
} 
.pixel:nth-child(31) { 
  background: #251321; 
} 
.pixel:nth-child(32) { 
  background: #8D4559; 
} 
.pixel:nth-child(35) { 
  background: #973450; 
} 
.pixel:nth-child(36) { 
  background: #271525; 
} 
.pixel:nth-child(37) { 
  background: #25101F; 
} 
.pixel:nth-child(38) { 
  background: #271221; 
} 
.pixel:nth-child(39) { 
  background: #271221; 
} 
.pixel:nth-child(40) { 
  background: #271221; 
} 
.pixel:nth-child(41) { 
  background: #29111F; 
} 
.pixel:nth-child(42) { 
  background: #200A16; 
} 
.pixel:nth-child(46) { 
  background: #973450; 
} 
.pixel:nth-child(47) { 
  background: #1B0414; 
} 
.pixel:nth-child(48) { 
  background: #250D1B; 
} 
.pixel:nth-child(52) { 
  background: #2E1C2A; 
} 
.pixel:nth-child(53) { 
  background: #614957; 
} 
.pixel:nth-child(54) { 
  background: #8D4559; 
} 
.pixel:nth-child(57) { 
  background: #973450; 
} 
.pixel:nth-child(58) { 
  background: #251321; 
} 
.pixel:nth-child(59) { 
  background: #271221; 
} 
.pixel:nth-child(60) { 
  background: #2C1422; 
} 
.pixel:nth-child(61) { 
  background: #2D1320; 
} 
.pixel:nth-child(62) { 
  background: #2C121F; 
} 
.pixel:nth-child(63) { 
  background: #271221; 
} 
.pixel:nth-child(64) { 
  background: #251321; 
} 
.pixel:nth-child(68) { 
  background: #983551; 
} 
.pixel:nth-child(69) { 
  background: #251321; 
} 
.pixel:nth-child(70) { 
  background: #271221; 
} 
.pixel:nth-child(71) { 
  background: #27131F; 
} 
.pixel:nth-child(72) { 
  background: #251321; 
} 
.pixel:nth-child(73) { 
  background: #251321; 
} 
.pixel:nth-child(74) { 
  background: #271221; 
} 
.pixel:nth-child(75) { 
  background: #251323; 
} 
.pixel:nth-child(80) { 
  background: #96374D; 
} 
.pixel:nth-child(81) { 
  background: #95384D; 
} 
.pixel:nth-child(85) { 
  background: #9C3956; 
} 
.pixel:nth-child(90) { 
  background: #93354D; 
} 
.pixel:nth-child(95) { 
  background: #953448; 
} 
.pixel:nth-child(102) { 
  background: #97426B; 
} 
.pixel:nth-child(103) { 
  background: #803A70; 
} 
.pixel:nth-child(109) { 
  background: #9C3755; 
} 
.pixel:nth-child(112) { 
  background: #983A55; 
} 
.pixel:nth-child(113) { 
  background: #0F10CD; 
} 
.pixel:nth-child(114) { 
  background: #150DC3; 
} 
.pixel:nth-child(115) { 
  background: #8A3962; 
} 
.pixel:nth-child(116) { 
  background: #97384E; 
} 
.pixel:nth-child(119) { 
  background: #9E4390; 
} 
.pixel:nth-child(124) { 
  background: #82427E; 
} 
.pixel:nth-child(125) { 
  background: #664191; 
} 
.pixel:nth-child(128) { 
  background: #983853; 
} 
.pixel:nth-child(131) { 
  background: #993857; 
} 
.pixel:nth-child(136) { 
  background: #9C344D; 
} 
.pixel:nth-child(140) { 
  background: #943648; 
} 
.pixel:nth-child(141) { 
  background: #9A3851; 
} 
.pixel:nth-child(144) { 
  background: #7D3E6D; 
} 
.pixel:nth-child(154) { 
  background: #834069; 
} 
